<?xml version="1.0" encoding="UTF-8" standalone="no"?><hoehenlinienconfig>
<config>
<name>Testconfig</name>
<python>asfddsf</python>
<gdal>asfdadsfads</gdal>
<grass>asdfadsfasfda</grass>
<grassbin>asdf</grassbin>
</config>
<config>
<name>Testconfig4</name>
<python>C:\</python>
<gdal>C:\</gdal>
<grass>C:\</grass>
<grassbin>C:\</grassbin>
</config>
<config>
<name>test4</name>
<python>C:\</python>
<gdal>H:\</gdal>
<grass>P:\</grass>
<grassbin>S:\</grassbin>
</config>
<config>
<name>proper</name>
<python>C:\Program Files (x86)\Python27\ArcGIS10.2</python>
<gdal>C:\Program Files (x86)\GDAL</gdal>
<grass>C:\Program Files (x86)\QGIS Valmiera\apps\grass\grass-6.4.3</grass>
<grassbin>C:\Program Files (x86)\QGIS Valmiera\bin</grassbin>
</config>
<config>
<name>wrongGdal</name>
<python>C:\Program Files (x86)\Python27\ArcGIS10.2</python>
<gdal>C:\Users</gdal>
<grass>C:\Program Files (x86)\QGIS Valmiera\apps\grass\grass-6.4.3</grass>
<grassbin>C:\Program Files (x86)\QGIS Valmiera\bin</grassbin>
</config>
<config>
<name>wrongGrass</name>
<python>C:\Program Files (x86)\Python27\ArcGIS10.2</python>
<gdal>C:\Program Files (x86)\GDAL</gdal>
<grass>C:\Program Files (x86)\QGIS Valmiera\apps</grass>
<grassbin>C:\Program Files (x86)\QGIS Valmiera\bin</grassbin>
</config>
<config>
<name>wrongGrassbin</name>
<python>C:\Program Files (x86)\Python27\ArcGIS10.2</python>
<gdal>C:\Program Files (x86)\GDAL</gdal>
<grass>C:\Program Files (x86)\QGIS Valmiera\apps\grass\grass-6.4.3</grass>
<grassbin>C:\Program Files (x86)\QGIS Valmiera</grassbin>
</config>
</hoehenlinienconfig>